<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BLAM Tecnico</title>

  <!-- Custom fonts for this template -->
  <link href="./admin-tecnico/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="./admin-tecnico/css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./admin-tecnico/Pagina2_css.css">
  <!-- Custom styles for this page -->
  <link href="./admin-tecnico/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <header>
        <h1>B anda</br>L ógica</br>A utómatica</br>M ovil</br>TÉCNICO</h1>
      </header>
  <!-- Page Wrapper -->
  <div id="wrapper">






    <!-- End of Sidebar -->

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

        <div class="container-fluid">


          <!-- DataTales Example -->
          <section hidden id="Sensores">

            </section>
            <section hidden id="Actuadores">

              </section>

              <h6 class="m-0 font-weight-bold text-primary">Lista de Sistemas</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nombre Sistema</th>
                      <th>Cliente</th>
                      <th>Sensores</th>
                      <th>Actuadores</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var i = 0; i < usuario.length; i++) { %>
                   <tr>
                     <td><%= usuario[i].NombreSistema %></td>
                     <td><%= usuario[i].Cliente %></td>
                     <td><%= usuario[i].Sensores %></td>
                     <td><%= usuario[i].Actuadores %></td>
                   </tr>
                  <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer>
          <p>Posted by: Alison Ruiz - Bryan Perez - Jorge Franco</p>
          <p>Contact information: <a>
          BLAM@gmail.com</a>.</p>
        </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="./admin-tecnico/tecnico.js"></script>
  <script src="./admin-tecnico/vendor/jquery/jquery.min.js"></script>
  <script src="./admin-tecnico/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="./admin-tecnico/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="./admin-tecnico/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="./admin-tecnico/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="./admin-tecnico/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="./admin-tecnico/js/demo/datatables-demo.js"></script>

</body>

</html>
